---
layout: page
title: "Category: '{{ page.title }}'"
permalink: /categories/{{ page.title }}/
---

<div class="post-content">
  <div class="post">
    {% assign category = page.title %}
    <h1>Posts in category "{{ category }}"</h1>
    <ul>
      {% for post in site.categories[category] %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">({{ post.date | date: "%Y-%m-%d" }})</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
